<!DOCTYPE html>
<html>
  <head>
    <title>Edms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#e6e6e6;">
    <header>
      <div style="display:flex;">
        <%= link_to "Home", root_url %> | 
        <%= link_to "Departments", departments_url %>
      </div>
    </header>
    <%= yield %>
    <div id="dept">
    </div>
  </body>
</html>
